#projects {
    grid-column: $col;
    grid-row: row4 / row5;
    
}

.card-list {
    display: grid;
    grid-template-columns: 550px 550px;
    grid-column-gap: 20px;
    grid-template-rows:  350px;
    grid-row-gap: 20px;
    justify-items: center;
}

.cards {
    justify-self: center;
    border: 1px solid black;
}