#projects {
    grid-column: $col;
    grid-auto-rows: auto;
    
}

.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: center;
}

.cards {
    justify-self: center;
    text-align: center;
}

.cards a {
    text-decoration: none;
    color: white;
}

.cards button {
    // background: #42b8dd;
    background: #1f8dd6;
    text-decoration: none;
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
